.imgContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    gap: 10px;
    text-align: center;
    align-items: flex-end;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); 
    
    
}
.imgContainer div p{
    font-size: small;
    margin-top: 0;
}
.imgContainer div{
    background-color: #A7CAED;
    width: 4rem;
    border-radius: 6px;
}
.task{
    padding-top: 8px;
}
.selectdiv{
    border: 2px solid #f44;
}